*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #424040;
    color: white;
    padding: 20px 50px;
}
.logo{
    font-size: 26px;
    font-weight: bold;
}
.nav{
    display: flex;
    gap: 20px;
}
.nav a{
    color: white;
    text-decoration: none; 
    font-size: larger;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
     padding: 20px 30px;
    text-align: center;
}
.hero-text{
    max-width: 500px;
}
.hero-text h1{
    font-size: 40px;
    margin-bottom: 15px;
}

.btn{
    display: inline-block;
    background: blue;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    margin-top: 15px;
    font-size: larger;
    
}

.container {
 
  justify-content: space-between;
  align-items: center;

}

.course{
    display: flex; 
    justify-content: space-between;
    margin: 40px;
    padding: 60px;
    align-items: center;
}
.course-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background-color: rgb(254, 240, 240);
    margin: 40px;
    padding: 60px;
}
.about{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 20px;
    font-size: larger;
}
footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;

}
@media (max-width: 680px){
    .header{
        display: flex;
        flex-direction: column;

    }
    .hero{
        padding: 50px 15px;
    }
    .container{
        display: block;
        flex-direction: column;
        
    
    }
    .course{
        display: block;
        flex-direction: column;
        padding: 50px 15px;
        justify-content: space-around;
    }
}



  