img{
    width: 30%;
    height: 300px;
    margin: 1.66%;

}
p{
    font-family: serif;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}